@import "assets/styles/variables";

// Colors
.withe {
  color: $withe;
}

.black100 {
  color: $black100;
}
.black400 {
  color: $black400;
}
.black900 {
  color: $black900;
}

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.tertiary {
  color: $tertiary;
}


// Background colors
.bgWithe {
  background: $withe;
}

.bgBlack100 {
  background: $black100;
}
.bgBlack400 {
  background: $black400;
}
.bgBlack900 {
  background: $black900;
}

.bgPrimary {
  background: $primary;
}
.bgSecondary {
  background: $secondary;
}
.bgTertiary {
  background: $tertiary;
}