@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import './assets/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: $black900;
}

.wr {
  width: 1140px;
  margin: 0 auto;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  padding: 36px 0 20px 0;
  text-align: center;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  font-size: 18px;
  font-weight: 400;
}

.side {
  width: 350px;
}
.skills {
  width: 350px;
  flex-direction: column;
  border-right: 1px solid $black100;
  position: relative;
  z-index: 1;
  transition: all .2s ease;
  bottom: 0px;
}

.content {
  width: calc(100% - 350px);
  padding: 45px;
}